{% extends "base.html" %}

{%block head%}
<title>首页--Think hard</title>
{%endblock%}

{%block main%}
	<div class="container-liquid">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-2"></div>          
        <div style="font-size:100px; text-align:center" class="col-md-8">
        	<a style="color:black" href="http://en.wikipedia.org/wiki/Phrases_from_The_Hitchhiker%27s_Guide_to_the_Galaxy#Don.27t_Panic">Don't Panic</a>
        </div>
        <div class="col-md-2"></div>
{%endblock%}
