{% extends "note_base.html" %}
{% load get_extras %}

{%block note_main%}
<div class="note_toolbar panel-heading ">
                 <ol class="breadcrumb" style="padding:0px; margin:0px">
                    <li><span class="glyphicon glyphicon-home"></span></li>
                    <li><a href="/">首页</a></li>
                    <li class="active">随笔</li>                    
                  </ol>                                     
            </div>    
            <div style="padding-top:53px" class="item-list screen-height">    
              {%for item in notes%}
              <div class="container-liquid item item-read" id="{{item|get:'_id'}}">
                <div class="row">
                  <div class="col-md-2">{{item.category}}</div>
                  <div class="col-md-7"><a href="/note/{{item|get:'_id'}}">{{item.title}}</a></div>             
                  <div class="col-md-1">{{item.author}}</div>
                  <div class="col-md-2">
                    2013年11月2日
                  </div>
                </div>  <!-- row -->
              </div>     
            {%endfor%}          
            </div>          
{%endblock%}
